@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
/* font-family: 'Big Shoulders Display', cursive; 
    font-family: 'Outfit', sans-serif;*/


/* Images for Tablet and Desktop */
.img-tablet, .img-desktop {
    display: none;
}
.map.img-mobile {
    width: 100%;
    display: block;
}

div.m-left-right-16.button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
section.black {
    background-color: #151515;
}
footer.gold {
    height: initial;
    padding: 56px 40px;
}
.heading-loc {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 48px 16px;
}
.sub-heading-loc {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color: #D5966C;
    margin: 0 16px 20px;
}
.white-txt {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 0 16px 20px;
}

/* 2th section - gold background */

.gold {
    padding: 48px 32px 48px;
    background-color: #D5966C;
}

.footer-txt {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #151515;
    margin-top: 38px;
}

.social-icons {
    margin-right: 20px;
    margin-top: 38px;
}

.social-icons:hover {
    fill: #FFFFFF;
    cursor: pointer;
}

/* Styles fo Tablet */ 

@media only screen and (min-width: 768px) {
    .map.img-mobile {
        display: none;
    }
    .img-tablet {
        display: block;
        width: 100%;
    }
    div.m-left-right-16.button {
        left: 39px;
    }
    footer.gold div.max-width {
        align-items: start;
    }
    .heading-loc {
        width: 223px;
        padding: 0;
    }
    section.black {
        display: flex;
        padding: 80px 40px;
    }
    .address-section {
        width: 398px;
    }
    .gold {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 56px 40px 0;
    }
    .logo-txt-div {
        display: flex;
    }
    .footer-txt {
        margin: 0;
        width: 281px;
        margin-left: 64.95px;
    }
    .social-icons {
        margin: 0 0 0 20px;
    }
}

/* Styles for Desktop */

@media only screen and (min-width: 1440px) {
    .img-tablet {
        display: none;
    }
    .img-desktop {
        display: block;
        width: 100%;
    }
    div.m-left-right-16.button {
        left: 156px;
    }
    section.black div.max-width {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .heading-loc {
        font-size: 70px;
        line-height: 70px;
        margin-right: 220px;
    }
    .sub-heading-loc {
        font-size: 36px;
        line-height: 36px;
    }
    .white-txt {
        font-size: 22px;
        line-height: 32px;
    }
    .footer-txt {
        width: 430px;
        font-size: 18px;
        line-height: 28px;
    }
    footer.gold img.logo-dark {
        margin-right: 140px;
    }
    footer.gold p.footer-txt {
        margin-right: 280px;
    }
    
}